<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>My Enrollments</title>
</head>
<body>
	<h1>Current Enrollments</h1>
	<br>
	<table border="1" cellpadding="10">
		<tr>
			<th>ID    </th>
			<th>Course Name  </th>
			<th>Status</th>
		</tr>
		<tr th:each="StudentEnrollment: ${StudentEnrollment}">
			<td th:text="${StudentEnrollment.enrollmentID}"></td>
			<td th:text="${StudentEnrollment.c.courseName}"></td>
			<td th:text="${StudentEnrollment.status}"></td>
		</tr>
	</table>
	<br><br>
</body>
</html>