<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Hello! This is your teacher page</title>
</head>
<body>
<br><br><br><br><br><br>
	<center>
	
		<form method="post" th:action="@{/teacher/profile}">
			<button type="submit" name="profile">Profile Page</button>
		</form>
	<br>
		<form method="post" th:action="@{/teacher/management}">
			<button type="submit" name="managements">Student Management Page</button>
		</form>
	<br>
		<form method="post" th:action="@{/teacher/report}">
			<button type="submit" name="reports">Report Page</button>
		</form>
	</center>
</body>
</html>